.develop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 94px;
  padding-right: 96px;
  padding-bottom: 22px;
}

.develop__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color-black;
  margin-right: 13px;
}

@media screen and (min-width: @tablet-width) {
  .develop {
    padding: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 50px;
    margin-bottom: 20px;
  }
}
