.intro__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.intro__backcolor {
  background-color: @color-white;
}

.intro__wrapper-pic {
  background-color: @color-shadon-one;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 78px;
  padding-left: 19px;
}

.intro__shape::before {
  content: url("../../img/intro-triangle.svg.svg");
}

.intro__shape {
  margin-top: -56px;
}

.intro__info {
  background-color: @color-white;
  padding-top: 32px;
  padding-right: 18px;
  padding-left: 17px;
  padding-bottom: 11px;
}

.intro__info-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color-black;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.intro__info-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color-dark;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/*.intro__triangular::after {
  content: url("../../img/white\ copy\ 2.svg");
}*/
