.photos_wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.photos__list {
  margin: 0;
  padding: 0;
  background-color: @color-white;
}

.photos__item {
  list-style-type: none;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid @color-grey;
}

.photos__item:first-of-type {
  border-top: 1px solid @color-grey;
}

.photos__item:last-of-type {
  border-top: none;
}

.photos__description-title,
.photos_likes-number {
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-black;
}

.photos__description-text {
  margin: 0;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-dark;
}

.photos_likes-number {
  margin: 0;
}

.photos__likes-button {
  border: none;
  background-color: @color-white;
}
