.searching__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.searching__wrapper-backcolor {
  background-color: @color-white;
  padding-top: 33px;
  padding-right: 15px;
  padding-bottom: 49px;
  padding-left: 15px;
}

.searching__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;
  margin-bottom: 30px;
}

.searching__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @color-dark;
  margin-bottom: 30px;
}

.searching__link {
  background-color: @color-blue;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: 30px;
}

.searching__link-text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
}

.searching__text-br {
  display: none;
}

@media screen and (min-width: @tablet-width) {
  .searching__wrapper {
    max-width: @tablet-width;
    margin: 0 auto;
  }

  .searching__wrapper-backcolor {
    padding-top: 58px;
    padding-right: 150px;
    padding-bottom: 58px;
    padding-left: 155px;
  }

  .searching__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 43px;
  }

  .searching__text {
    margin-bottom: 43px;
  }

  .searching__text-br {
    display: block;
  }

  .searching__link {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 121px;
    padding-left: 122px;
    margin-left: 30px;
  }
}
