.searching__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.searching__wrapper-backcolor {
  background-color: @color-white;
  padding-top: 33px;
  padding-right: 15px;
  padding-bottom: 49px;
  padding-left: 15px;
}

.searching__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;
  margin-bottom: 21px;
}

.searching__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @color-dark;
  margin-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
}

.searching__link {
  display: block;
  border: none;
  background-color: @color-blue;
  text-decoration: none;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 5px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  outline: none;
}

.searching__link:hover {
  background-color: @color-blue-button-hover;
}

.searching__link:active {
  background-color: @color-blue-button-down;
  color: @color-white-search-down;
}

.searching__link--disabled {
  background-color: @color-grey-grey;
}

.searching__text-br {
  display: none;
}

@media screen and (min-width: @tablet-width) {
  .searching__wrapper {
    max-width: @tablet-width;
    margin: 0 auto;
  }

  .searching__wrapper-backcolor {
    padding-top: 58px;
    padding-right: 150px;
    padding-bottom: 58px;
    padding-left: 155px;
  }

  .searching__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }

  .searching__text {
    margin-bottom: 39px;
    padding-left: 5px;
    padding-right: 8px;
  }

  .searching__text-br {
    display: block;
  }

  .searching__link {
    width: 458px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -1px;
  }
}

@media screen and (min-width: @desktop-width) {
  .searching__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
  }

  .searching__wrapper-backcolor {
    padding-top: 58px;
    padding-right: 371px;
    padding-bottom: 66px;
    padding-left: 371px;
  }

  .searching__title {
    margin-bottom: 32px;
  }

  .searching__text {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 44px;
  }

  .searching__link {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -1px;
  }
}
