.video__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.video__file--hide {
  display: none;
}

.video__wrapper-fake {
  background-color: @color-white;
}

.video__toggle-wrapper {
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background-color: @color-black;
  opacity: 0.6;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  display: flex;
  align-items: center;
}

.video__toddler {
  width: 235px;
  height: 3px;
  background-color: @color-toddler;
  margin: 0 auto;
}

.video__toggler {
  position: absolute;
  left: 25%;
}

.video__control-panel {
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 25px;
  background-color: @color-dark-grey;
}

.video__button-replay {
  border: none;
  padding: 0;
  background-color: inherit;
  margin-right: 133px;
}

.video__button-sub {
  margin-right: 21px;
  border: none;
  padding: 0;
  background-color: inherit;
}

.vudeo__button-fullscreen {
  padding: 0;
  border: none;
  background-color: inherit;
}
